<div class="nested-fields">
  <%= f.input :ingredient_id, as: :select, collection: @ingredients %>
  <%= f.input :amount %>
  <%= f.input :description %>
  <%= link_to_remove_association 'remove doses', f%>
</div>
